body {
}

.content {
  margin-top: 7vh;
  cursor: url("../img/crayon.png"), auto;
}

.title {
  text-align: center;
  font-family: 'Cabin', sans-serif;
  color: white;
  letter-spacing: 2px;
}

.music-controller {
  position: absolute;
  bottom: 5px;
  left: 10px;
  height: 35px;
  cursor: pointer;
}

.dot-wrapper {
  position: absolute;
  padding-bottom: 400px;
  left: 230px;
  display: block;
  width: 40px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.dot {
  padding-top: 10px;
  position: relative;
  height: 50px;
}

.circle {
  position: relative;
  display: block;
  margin: 0px auto;
  border: 2px solid white;
  width: 500px;
  height: 500px;
  background-color: rgb(20, 28, 45);
}

.center-dot {
  font-size: 100px;
  position: absolute;
  left: 50%;
  top: 120px;
  transform: translate(-50%);
}

p {
  display: inline-block;
}

.label {
  font-size: 14px;
  font-family: 'Cabin', sans-serif;
  color: white;
}

.dot-image {
  position: absolute;
  top: 3px;
  left: 15px;
  transition-duration: 0.1s;
  width: 10px;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.dot-image:hover {
  left: 14px;
  top: 2px;
  width: 12px;
}

.overlay {
  position: absolute;
  z-index: 0;
  top: 0;
}

.reload {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 30px;
  cursor: pointer;
}

.smile {
  position: absolute;
  width: 200px;
  top: 140px;
  left: 150px;
  display: none;
}